
    <div class="notification">

        <% if (success) { %>
            <div class="notification-content  layui-bg-blue">
                <p>
                    <%= success %>
                </p>
            </div>
            <% } %>

                <% if (error) { %>
                    <div class="notification-content layui-bg-red">
                        <p>
                            <%= error %>
                        </p>
                    </div>
                    <% } %>

    </div>