<div class="per-head layui-hide-xs">
    <img class="per-head-background" src="\<%=perDetail.background%>" alt="">
    <div class="layui-row layui-col-md8 layui-col-md-offset2">
        <div class=" layui-col-md2">
            <div class="guide-square">
                <img class="per-head-avatar" src="\<%=perDetail.avatar%>" alt="">
            </div>
        </div>
        <div class="layui-col-md10">
            <div class="per-mes-mini">
                <p class="per-name">
                    <%=perDetail.name%>的博客</p>
                <P class="per-write"><%=perDetail.signature%></P>
            </div>
        </div>
    </div>
</div>

