<div class="per-guide">
    <ul class="layui-nav layui-nav-tree">
        <li class="layui-nav-item layui-nav-itemed">
            <a href="/personal">时间线</a>
        </li>
        <li class="layui-nav-item layui-nav-itemed">
            <a href="/personal/attention">我的关注</a>
        </li>
        <li class="layui-nav-item layui-nav-itemed">
            <a href="/personal/posts">我的文章</a>
        </li>
        <li class="layui-nav-item layui-nav-itemed">
            <a href="/personal/detail">个人设置</a>
        </li>
    </ul>
</div>
<div class="per-guide-xs">
    <ul class="layui-nav layui-nav-tree" lay-filter="test">
        <li class="layui-nav-item">
            <a href="javascript:;">导航</a>
            <dl class="layui-nav-child">
                <dd>
                    <a href="/personal">时间线</a>
                </dd>
                <dd>
                    <a href="/personal/attention">我的关注</a>
                </dd>
                <dd>
                    <a href="/personal/posts">我的文章</a>
                </dd>
                <dd>
                    <a href="/personal/detail">我的资料</a>
                </dd>
            </dl>
        </li>
    </ul>
</div>