<div class="per-guide">
    <ul class="layui-nav layui-nav-tree">
        <li class="layui-nav-item layui-nav-itemed">
            <a href="/personal">时间线</a>
        </li>
        <li class="layui-nav-item layui-nav-itemed">
            <a href="/personal/attention">我的关注</a>
        </li>
        <li class="layui-nav-item layui-nav-itemed">
            <a href="/personal/posts">我的文章</a>
        </li>
        <li class="layui-nav-item layui-nav-itemed">
            <a href="/personal/detail">我的资料</a>
        </li>
    </ul>
</div>