<div class="shortcut">
    <div class="shortcut-item">
        <button class="return-top layui-btn layui-btn-sm layui-btn-warm">
            <i class="layui-icon">&#xe619;</i>
        </button>
    </div>
    <%if(user){%>
    <div class="shortcut-item">
        <a href="/article/new"><button class="layui-btn layui-btn-sm layui-btn-warm">
            <i class="layui-icon">&#xe654;</i>
        </button></a>
    </div>
    <%}%>
</div>
