<div class="shortcut">
    <div class="shortcut-item">
        <button class="return-top layui-btn layui-btn-small layui-btn-warm">
            <i class="layui-icon">&#xe619;</i>
        </button>
    </div>
    <div class="shortcut-item">
        <button class="layui-btn layui-btn-small layui-btn-warm">
            <i class="layui-icon">&#xe654;</i>
        </button>
    </div>
</div>