<li class="search layui-nav-item">
    <input type="text" name="search_content" required lay-verify="required" placeholder="请输入搜索内容" class="layui-input">
</li>
<li class="search layui-nav-item">
  <button class="layui-btn search_submit" lay-submit>搜索</button>
</li>
