<div class="search_article">
  <a href="/article/<%=article._id%>"><h2 class="search_article_title"><%=article.title%></h2></a>
  <hr class="layui-bg-gray">
  <h3 class="search_article_desc"><%=article.desc%></h3>
</div>
