<%- include('header')%>
<%- include('nav') %>
<div class="layui-row blog-main">
    <div class="layui-col-md10 layui-col-md-offset1">
        <div class="blog-content">
            <div class="blog-title">
                <h1>用户列表</h1>
            </div>
        </div>
        <div class="blog-content">
            <a href="/admin/userlist">用户列表</a>  
            <a href="/admin/followlist">关注列表</a>     
            <a href="/admin/comments">评论列表</a>     
            <a href="/admin/articlelist">文章列表</a>           
        </div>
    </div>
</div>
<%- include('footer') %>