<script src="/libs/jquery/dist/jquery.min.js"></script>
<script src="/libs/layui/layui.all.js"></script>
<script src="/javascript/loading.js"></script>
<script src="/javascript/personal.js"></script>
<script src="/javascript/detail.js"></script>>
<% if (locals.js_add) { %>
<%-js_add%>
<% } %>
</body>

</html>
