<div class="footer layui-row">
    <div class="footer-content layui-col-md4 layui-col-md-offset4">
        <div class="footer-title">
            <span>BLOG |</span>
            <span>博客</span>
        </div>
        <div class="footer-desc">
            <span>一个很牛逼的个人博客</span>
        </div>
        <div class="footer-author">
            <span class="footer-author-title">MADE BY</span>
            <span>super Zhang |</span>
            <span>super Li |</span>
            <span>super Gao</span>
        </div>
        <div class="footer-link">
            <span>Copyright © 2017</span>
            <span>转载内容版权归作者及来源网站所有，本站原创内容转载请注明来源，商业媒体及纸媒请先联系：blog@mail.com</span>
        </div>
    </div>
</div>
<script src="/libs/jquery/dist/jquery.min.js"></script>
<script src="/libs/layui/layui.all.js"></script>
<script src="/javascript/loading.js"></script>
<script src="/javascript/personal.js"></script>
<script src="/javascript/detail.js"></script>
<script src="/javascript/background.js"></script>
<script src="/javascript/search.js"></script>
<script src="/javascript/follow.js"></script>
<script src="/javascript/article.js"></script>
<% if (locals.js_add) { %>
<%-js_add%>
<% } %>
</body>
</html>