<%- include('header')%>
<%- include('nav') %>
<div class="layui-row blog-main">
    <div class="layui-col-md4 layui-col-md-offset4">
        <div class="blog-content">
            <div class="blog-title">
                <h1>注册</h1>
            </div>
            <form class="layui-form" action="/users/signup" method="post">
                <div class="layui-form-item">
                    <input type="text" name="user[name]" required lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-item">
                    <input type="password" name="user[password]" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
                </div>

                <div class="layui-form-item">
                    <input type="radio" name="user[gender]" value="男" title="男">
                    <input type="radio" name="user[gender]" value="女" title="女">
                </div>
                <div class="layui-form-item layui-form-text">
                    <textarea name="user[desc]" placeholder="介绍下自己吧~" class="layui-textarea"></textarea>
                </div>
                <div class="layui-form-item">
                    <button class="layui-btn  layui-btn-normal" lay-submit lay-filter="formDemo">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include('footer') %>