.editor-content {
    padding: 50px 0 20px 0;
}

.editor-title {
    background: #fff;
    padding: 16px 20px;
}
.editor-title h1 {
    font-size: 30px;
}
.one-editor-content {
    background: #ffffff;
    padding: 16px 25px;
    margin-bottom: 20px;
}