/* 公用 */

.notification {
    position: fixed;
    z-index:999;
    right: -100%;
    bottom: 20px;
    text-align: center;
    animation: shownoti 5s;
    -moz-animation: shownoti 5s; /* Firefox */
    -webkit-animation: shownoti 5s; /* Safari and Chrome */
    -o-animation: shownoti 5s; /* Opera */
    max-width: 200px;
}
.notification-content{
    z-index:999;
    padding: 20px;
}
@keyframes  shownoti {
    0%   {right: -100%;}
    20%  {right: 20px;}
    80%  {right: 20px;}
    100% {right: -100%;}
}
@-moz-keyframes shownoti {
    0%   {right: -100%;}
    20%  {right: 20px;}
    80%  {right: 20px;}
    100% {right: -100%;}
}
@-webkit-keyframes shownoti {
    0%   {right: -100%;}
    20%  {right: 20px;}
    80%  {right: 20px;}
    100% {right: -100%;}
}
@-o-keyframes shownoti {
    0%   {right: -100%;}
    20%  {right: 20px;}
    80%  {right: 20px;}
    100% {right: -100%;}
}


body {
    background: #f3f3f3;
}

.one-content {
    background: #ffffff;
    padding: 16px 25px;
    margin-bottom: 20px;
}

.per-content-title {
    background: #fff;
    padding: 16px 20px;
}

.per-content-title h1 {
    font-size: 30px;
}

.layui-nav {
    border-radius: 0px;
}

.shortcut {
    position: fixed;
    bottom: 20px;
    right: 100px;
}
.shortcut-item{
    margin: 10px;
}
.shortcut button {
    background: rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 992px) {
    .shortcut {
        position: fixed;
        bottom: 20px;
        right: 20px;
    }
}

.per-head {
    position: relative;
    height: 300px;
}

.per-head-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.per-ico {
    object-fit: cover;
    width: 70%;
    border-radius: 50%;
    margin-top: 100px;
}

@media screen and (max-width: 992px) {
    .per-ico {
        object-fit: cover;
        width: 150px;
        border-radius: 50%;
        margin-top: 50px;
    }
}

.per-mes-mini {
    margin-left: 20px;
    margin-top: 120px;
    color: #fff;
    padding: 20px;
}

.per-name {
    font-size: 45px;
}

.per-write {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 20px;
}


/* 侧边栏 */

.per-guide-flex {
    position: fixed;
    top: 0;
}

.per-guide {
    padding: 10px 0;
}

.per-guide-xs {
    display: none;
}

@media screen and (max-width: 992px) {
    .per-guide {
        padding: 10px 0;
        display: none;
    }
    .per-guide-xs {
        display: block;
    }
}

.per-guide ul {
    width: 100%;
    border-radius: 0;
}

.per-guide-xs ul {
    width: 100%;
}

.per-guide li {
    width: 100%;
}

.guide-square {
    width: 100%;
    position: relative;
    max-width: 200px;
    margin-top: 30%;
}

.guide-square:after {
    content: '';
    display: block;
    padding-top: 100%;
}

.guide-square img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
}


/* 主体内容 */

.per-content {
    padding: 10px;
}


/* 时间线 */

.per-timeline h1 {
    font-size: 30px;
    margin-bottom: 10px;
}


/* 所有文章 */

.post-content div {
    height: 150px;
    overflow: hidden;
}

@media screen and (max-width: 992px) {
    .per-post-content {
        height: auto !important;
    }
}

.post-content {
    margin: 10px 0;
}

.per-post-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.per-post-content {
    padding-left: 20px;
}

@media screen and (max-width: 992px) {
    .one-content-xs {
        padding: 15px 10px;
    }
    .per-post-content {
        padding-left: 0px;
    }
}

.per-post-mes {
    margin: 10px 0;
    font-size: 16px;
}

.post-mes-item {
    margin-right: 10px;
    float: left;
}

.per-post-menu button {
    float: right;
    margin-right: 0px;
    margin-left: 10px;
}

@media screen and (max-width: 992px) {
    .per-post-menu button {
        float: left;
        margin-right: 10px;
        margin-left: 0px;
    }
}


/* 个人关注 */

.per-atten-ico {
    padding-left: 10px;
}

.per-atten-post {
    margin: 20px 10px;
}

.square {
    width: 60%;
    position: relative;
    max-width: 200px;
}

.square:after {
    content: '';
    display: block;
    padding-top: 100%;
}

.square img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

.per-atten-author {
    margin-left: -25px;
}

.per-atten-author h1 {
    font-size: 20px;
    margin: 5px 0 5px 0;
}

.per-atten-cancel {
    float: right;
    margin-right: 10px;
}

.per-atten-option div {
    text-align: center;
}

@media screen and (max-width: 992px) {
    .per-atten-author {
        margin-left: 0px;
    }
    .square {
        width: 90%;
        position: relative;
        max-width: 200px;
    }
    .square img {
        border: 1px solid rgba(0, 0, 0, 0.2);
    }
    .square:after {
        content: '';
        display: block;
        padding-top: 100%;
    }
    .per-atten-post {
        margin: 10px;
    }
    .per-atten-author h1 {
        font-size: 14px;
        margin: 0;
    }
}


/* 个人信息 */

.per-mes-lab {
    margin-bottom: 20px;
}

.per-background-hide {
    display: none;
}

.per-avatar-hide {
    display: none;
}

.per-background {
    width: 70%;
}

.per-avatar {
    width: 30%;
}

.per-mes p {
    margin: 10px 0 0 20px;
    /* font-size: 18px; */
}

.clear {
    clear: both;
}